/* width:1320px */
/* 패딩 양쪽으로 20px, 컨텐츠는 1280px */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&family=Poppins:wght@400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #111;
  font-size: 16px;
}

.center_box {
  width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.nav {
  display: flex;
  font-family: "Poppins", sans-serif;
}

.nav li a {
  display: inline-block;
  margin-right: 30px;
  font-weight: 400;
}

.top_menu {
  display: flex;
}

.top_menu li:last-child {
  margin-left: 40px;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product_new {
  display: flex;
  justify-content: space-between;
}

.product_new .product {
  width: 632px;
  height: 632px;
  background-color: #e1e1e1;
  position: relative;
}

.product_new .product_img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product_new .product .btns {
  position: absolute;
  bottom: 31px;
  right: 42px;
  display: flex;
  gap: 10px;
}

.product_new .product .btns a {
  display: block;
  background-color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  text-align: center;
  line-height: 60px;
}

.product_new .product_name {
  width: 532px;
  height: 635px;
}

.product_new .product_name h3 {
  font-size: 14px;
  margin-bottom: 6px;
}

.product_new .product_name h1 {
  font-size: 60px;
}

.product_new .product_name p {
  font-size: 24px;
  margin-top: 6px;
  margin-bottom: 36px;
}

.product_new .product_name ul {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.product_new .product_name .text li:first-child {
  font-weight: 600;
}

.product_new .product_name .text li:last-child {
  font-family: "Poppins", sans-serif;
  text-decoration: underline;
  text-underline-offset: 0.1em;
}

.product_new .product_name .box {
  margin-top: 21px;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 18px;
}

.product_new .product_name .box li {
  width: 92px;
  height: 92px;
  border: 1px solid #000;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product_new .product_name .add {
  width: 532px;
  height: 64px;
  margin-top: 28px;
  background-color: #111;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about {
  margin-top: 130px;
  display: flex;
  justify-content: space-between;
}

.about li {
  width: 414px;
  height: 556px;
  background-color: #e1e1e1;
}

.about li:first-child {
  background-color: #fff;
}

.about li h2 {
  margin-top: 189px;
  margin-bottom: 28px;
}

/* 기본 구조 */
.wrap {
  background: #fff;
  margin-top: 130px;
}

.wrap h1 {
  font-size: 30px;
  margin-bottom: 26px;
}

/* 가로 스크롤 적용 */
.wrap .scroll__wrap {
  overflow-x: auto;
  white-space: nowrap;
  height: 449px;
}
.wrap .scroll--element {
  display: inline-block;
  width: 305px;
  height: 305px;
  background: #c4c4c4;
  margin-right: 20px;
}

.wrap .scroll__wrap::-webkit-scrollbar {
  height: 7px; /* 스크롤바의 너비 */
}

.wrap .scroll__wrap::-webkit-scrollbar-thumb {
  width: 305px; /*스크롤바의 길이 */
  background: #111; /* 스크롤바의 색상 */
}

.wrap .scroll__wrap::-webkit-scrollbar-track {
  background: #c4c4c4; /*스크롤바 뒷 배경 색상*/
}

.wrap .scroll--element .text {
  width: 305px;
  height: 129px;
  background-color: #fff;
  display: inline-block;
  margin-top: 305px;
  margin-right: 20px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.wrap .scroll--element .text h3 {
  margin-top: 10px;
}

.footer {
  width: 100%;
  height: 411px;
  background-color: #111;
  margin: 0 auto;
  color: #fff;
  position: relative;
  margin-top: 150px;
}

.footer_menu {
  width: 1280px;
  display: flex;
  padding-top: 106px;
  position: relative;
}

.footer_menu > li {
  width: 163px;
  height: 111px;
  font-size: 12px;
  color: gray;
}

.footer_menu > li > ul > li {
  font-size: 14px;
  padding-top: 23px;
  color: #fff;
}

.sams {
  position: absolute;
  top: 105px;
  right: 80px;
}

.icon {
  display: flex;
}

.icon li {
  padding-right: 16.35px;
}

.follow {
  font-size: 12px;
  color: gray;
  display: inline-block;
}

.copyright {
  color: gray;
  font-size: 10px;
  position: absolute;
  bottom: 49px;
}
